<div>
    <h4>Edit Membership of User: {{user?.userName}}</h4>
    <form (ngSubmit)="onSubmit()">
      <div class="text-center">
        <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
        <button type="submit" class="btn btn-primary">Done</button>
      </div>
    </form>
    <p class="lead">Check/uncheck each box to edit user membership into Group.</p>
    <ul class="list-group" *ngFor="let group of groups">
      <li class="list-group-item border-success" [ngClass]="{active: group.groupMembers.includes(user.id)}">
        {{group?.groupName}}
        <div class="custom-control custom-checkbox custom-control-inline float-right">
          <input type="checkbox" class="custom-control-input" id="{{'customCheck'+group.id}}" [checked]="group.groupMembers.includes(user.id)" (change)="updateChecked(group, $event)">
          <label class="custom-control-label" for="{{'customCheck'+group.id}}"></label>
        </div>
      </li>
    </ul>
</div>