<div class="card bg-primary">
    <div class="card-header">
        {{pageTitle}}
    </div>
    <div class="card-body bg-light text-center">
      <h1>User Management Application Demo</h1>
        <div>
            <div>Developed by:</div>
            <h3>Guillermo Arellano</h3>
            <div>
              <a href="https://twitter.com/kegxa40">@kegxa40</a>
            </div>
            <div>
                <a href="http://www.meetguillermo.com">www.meetguillermo.com</a>
            </div>
        </div>
    </div>
</div>